body {
  background-color: #f7f7f7;
}
.nav-bg {
  background-color: #343a40!important;
}
a.anchor {
  position: relative;
  display: block;
  visibility: hidden;
  top: -100px;
}
#editor {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
.contentdiv {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  text-align:center;
  margin: auto;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.codediv {
  /*width: 51%;*/
  height: 200px;
  position: relative;
  display: inline-block;
  margin: auto;
}
.texclass {
  width: 42%;
  height: 200px;
  position: relative;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
  margin: auto;
}
.weatherdiv {
  width: 316px; 
  display: inline-block;
}
.outerweatherdiv {
  width: 51%;
  margin: auto;
  display: inline-block;
}
.rssdiv {
  /* width: 42%; */
  height: 422px;
  /* text-align: left;
  margin: auto;
  display: inline-block; */
  overflow-y: scroll;
}
.feature-new {
  min-width: 300px;
}
.row {
  margin-top: -30px;
}
.col {
  margin-top: 30px;
}
h3 {
  margin-top: 10px;
}
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
  text-decoration: none;
  color: rgb(121, 191, 75);
}
h4 a:link, h4 a:visited, h4 a:hover, h4 a:active {
  text-decoration: none;
  color: rgb(69, 95, 105);
  font-size: 16px;
}